.creditCard::before {
  content: '';
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 149px;
  border-radius: 24px;
  background-color: #9A63FB;
  z-index: -1;
}

